.par1 {
    font-size: x-large;
    color: #ffffff;
    text-align: center;
}
#stih2 {
    mix-blend-mode: difference;
    color: white;
    font-family: florence,cursive;
    text-align: center;
    /* Для всего блока*/
}
#tableOne {
    color: #D2691E;
    background-color: white;
    text-align: center;
}
.link1 {
    text-align:center;
}

.link2 {
    text-align:center;
}
.link3 {
    text-align:center;
}
A {
    color: blue;
}
A:visited {
        color: #DB7093;
    }
A:active {
        color: #FFFF00;
    }
